

h1 {

    font-family: Futura,'Trebuchet MS',Arial,sans-serif;
    font-size: 50px;
    text-align: center;
    letter-spacing: 30px;
    padding: 10% 0;
}

.present {

    font-family: Futura,'Trebuchet MS',Arial,sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 0 auto
   
}

.p1 {
    font-family: Futura,'Trebuchet MS',Arial,sans-serif;
    font-size: 25px;
    margin: 0 auto; 
    text-align: center;
    
    
   

}

h2 {

    font-family: Futura,'Trebuchet MS',Arial,sans-serif;
    font-size: 40px;
    text-align: center;
    
   
}

.p2 {
    font-family: Futura,'Trebuchet MS',Arial,sans-serif;
    font-size: 25px;
    text-align: center;
    
  
}

h3 {
    font-family: Futura,'Trebuchet MS',Arial,sans-serif;
    font-size: 40px;
    text-align: center;
    letter-spacing: 30px;
    

}

h4 {
    font-family: Futura,'Trebuchet MS',Arial,sans-serif;
    font-size: 40px;
    text-align: center;
    letter-spacing: 30px;
    padding: 2% 0;
   
}

ul {

    font-family: Futura,'Trebuchet MS',Arial,sans-serif;
    list-style-type: none;
    font-size: 25px;
    text-align: center;
    position: relative;
    top: 40px; right: 400px;
    
    
    
    
    

}

h5 {
    font-family: Futura,'Trebuchet MS',Arial,sans-serif;
    font-size: 40px;
    text-align: center;
    position: relative;
   
    

}

@media (max-width: 500px) {
    main h1 {
      font-size: 50px;
      padding: 0 40px;
    }